__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.vscode/
.idea/
.git
.gitignore
.dockerignore
Dockerfile
render.yaml
Downloads/
*.log
fastapp_status_*.json
stop.lock
termination.lock
pause.lock
tmp/
README.md
LICENSE
docs/
